*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

/* UTILITY */
.debug{
  background-color: rgba(0, 128, 0, 0.236);
  border: 1px solid blue;
}

.d-flex{
  display: flex;
}

.d-column{
  flex-direction: column;
}

.d-center{
  justify-content: center;
}

.d-beetween{
  justify-content:space-between;
}

.icon{
  height: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
}

.icon img{
  object-fit: cover;
}

/* MAIN */
.row{
  width: 85%;
  height: 95vh;
  margin: 20px auto;
}




/* COLUMN LEFT */

.col.left{
  /* min-width: 380px; */
  width: 380px;
  height: 100%;
}

.col.profile{
  height: 70px;
}

.col.noti{
  height: 80px;
} 

.col.input{
  height: 50px;
}

.col.chat{
  height: calc(100% - 200px);
  overflow: scroll;
}

/* COLUMN LEFT */

/* ++++++++++++++++++++++++++++++++ */

/* COLUMN RIGHT */

.col.right{
  width: calc(100% - 380px );
  height: 100%;
}

.col.user{
  height: 70px;
}

.col.lecture{
  height: calc(100% - 140px) ;
  overflow: scroll;
}

.col.write{
  height: 70px;
}

/* COLUMN RIGHT */

/* media queries */

@media ( max-width: 992px){

  .row{
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  /* LEFT COLUMN */
  .col.left{
    width: 90px;
  }

  .col.noti{
    display: none;
  }

  .col.input{
    display: none;
  }

  .col.chat{
    height: calc(100% - 70px);
  }

  /* RIGHT COLUMN */
  .col.right{
    width: calc(100% - 90px);
  }
}

@media(max-width:542px){
  .col.left{
    display: none;
  }

  .col.right{
    width: 100%;
  }
}